<!-- recommendations.html -->

{% extends 'base.html' %}

{% block content %}
<style>
    
      h1 {
        color: #333;
        font-size: 24px;
        text-align: center;
      }
      
      
      p {
        color: #666;
        font-size: 20px;
        text-align: center;
        font-family: cursive;
      }
      p:first-of-type::before {
        content: '\26A0'; /* Unicode for danger symbol */
        margin-top: 10px;
        margin-right: 10px; /* Adjust the spacing between the paragraph and the icon as needed */
        color: #f00; /* Replace with desired icon color */
        vertical-align: middle;
        font-size: 40px;
      }
      p:first-of-type::after {
        content: '\26A0'; /* Unicode for danger symbol */
        margin-top: 10px;
        margin-left: 10px; /* Adjust the spacing between the paragraph and the icon as needed */
        color: #f00; /* Replace with desired icon color */
        vertical-align: middle;
        font-size: 40px;
      }
      
      
      
      
      
      ul.recommendations-list {
        color: #666;
        font-size: 14px;
        list-style-type: disc;
        margin-left: 20px;
    }         
      .checkbox-icon {
        font-size: 40px; /* Adjust the size as needed */
        vertical-align: middle;
        margin-left: 5px; /* Optional: Adjust the spacing between the icon and the text */
      }
      
</style>
    <h1>Кешенді тәсіл негізінде ақпараттық қауіпсіздік деңгейін бағалау әдістемесін құру</h1>
    <p>Киберқауіпсіздікке қатысты белгілі заңдар мен ережелер:</p>
    <ul class="recommendations-list">
        <li>Деректерді қорғаудың жалпы ережесі (GDPR) - Еуропалық Одақта (ЕО) күшіне енген GDPR ЕО азаматтары мен резиденттерінің жеке деректерін қорғау ережелерін белгілейді. Ол ұйымдардың жеке деректерді жинау, өңдеу, сақтау және беру тәсілдерін реттейді және қауіпсіздік шаралары мен бұзушылықтар туралы хабарламаларға қойылатын талаптарды қамтиды.</li>
        <li>Калифорниядағы тұтынушылардың құқықтарын қорғау туралы заң (CCPA) - Калифорнияда, Америка Құрама Штаттарында қабылданған CCPA Калифорния тұрғындарына жеке ақпаратына қатысты белгілі бір құқықтар береді. Бұл кәсіпорындарға деректерді жинауға, ашықтыққа және тұтынушылардың жеке өмірге қол сұғылмаушылық құқықтарына қатысты міндеттемелер жүктейді.</li>
        <li>Медициналық сақтандырудың портативтілігі және есептілігі туралы заң (HIPAA) - Америка Құрама Штаттарындағы Денсаулық сақтау саласына қолданылады, HIPAA пациенттердің медициналық жазбаларын және басқа да жеке медициналық ақпаратты қорғау стандарттарын белгілейді. Ол деректердің қауіпсіздігі мен пациенттердің құпиялылығын қамтамасыз ету үшін физикалық, техникалық және әкімшілік сақтық шараларына қойылатын талаптарды қамтиды.</li>
        <li>Төлем карталары индустриясының деректер қауіпсіздігі стандарты (PCI DSS) - несиелік карталардың ірі компаниялары белгілеген, PCI DSS несиелік карта операцияларын жүзеге асыратын ұйымдар үшін қауіпсіздік талаптарын қамтамасыз етеді. Бұл қауіпсіз желі конфигурацияларын, осалдықтарды үнемі бағалауды және кіруді қатаң бақылауды қоса алғанда, карта иелері туралы деректерді қорғауды қамтамасыз етеді.</li>
        <li>NIST киберқауіпсіздік жүйесі-Америка Құрама Штаттарындағы ұлттық стандарттар және технологиялар институты (NIST) әзірлеген жүйе киберқауіпсіздік тәуекелдерін басқаруды жақсарту үшін нұсқаулар мен ең жақсы тәжірибелер жиынтығын қамтиды. Ол бес негізгі функцияны қамтиды: сәйкестендіру, қорғау, анықтау, жауап беру және қалпына келтіру.</li>
        <li>Компьютерлік алаяқтық және теріс пайдалану туралы заң (CFAA) - Америка Құрама Штаттарындағы федералды заң, CFAA компьютерлерге рұқсатсыз кіру, бұзу және зиянды бағдарламаларды тарату сияқты компьютерлерге қатысты әртүрлі әрекеттерді қылмыстық жауапкершілікке тартады. Ол компьютерлік жүйелер мен желілерді рұқсатсыз кіруден және зиянды әрекеттерден қорғауға бағытталған.</li>
        <li>2018 жылғы деректерді қорғау туралы заң - Ұлыбританияда 2018 жылғы деректерді қорғау туралы Заң GDPR-мен бірге деректерді қорғау мен құпиялылықтың қосымша ережелерін ұсынады. Ол деректерді өңдеудің, қауіпсіздіктің және жеке құқықтардың әртүрлі аспектілерін қамтиды.</li>
    </ul>
    <p>Киберқауіпсіздік бойынша кеңестер <span style='font-size:30px; vertical-align: middle; position: relative; bottom: 3px;'>&#9745;</span> :</p>
    <ul class="recommendations-list">
        <li>Осалдықтардан қорғау үшін бағдарламалық жасақтама мен операциялық жүйелерді үнемі жаңартып отырыңыз.</li>
        <li>Барлық онлайн тіркелгілеріңіз үшін күшті және бірегей құпия сөздерді пайдаланыңыз.</li>
        <li>Қосымша қауіпсіздік қабаты үшін екі факторлы аутентификацияны қосыңыз.</li>
        <li>Фишингтік хаттардан сақ болыңыз және күдікті сілтемелерден аулақ болыңыз.</li>
        <li>Құрылғылардың физикалық қауіпсіздігін қамтамасыз етіңіз және рұқсатсыз кіруді болдырмау үшін экран құлыптарын немесе құпия сөздерді пайдаланыңыз.</li>
        <li>Сенімді антивирустық бағдарламалық жасақтама мен зиянды бағдарламаларға қарсы құралдарды қолданыңыз және оны жаңартып отырыңыз.</li>
        <li>Құпия деректерді, әсіресе оларды тасымалдау немесе сақтау кезінде шифрлаңыз.</li>
        <li>Киберинцидент кезінде жоғалтудың алдын алу үшін маңызды деректердің сақтық көшірмесін үнемі жасаңыз.</li>
        <li>Интернетте бөлісетін ақпаратқа мұқият болыңыз және құпиялылық параметрлерін сәйкесінше өзгертіңіз.</li>
        <li>Сенімді VPN қолданбасаңыз, құпия транзакциялар үшін Жалпыға Ортақ Wi-Fi желісін пайдаланудан аулақ болыңыз.</li>
        <li>Кез келген күдікті әрекеттер үшін қаржылық шоттарыңыз бен несиелік есептеріңізді үнемі тексеріп отырыңыз.</li>
        <li>Жалпы киберқауіпсіздік қауіптерімен танысыңыз және қауіпсіздіктің соңғы жетістіктерінен хабардар болыңыз.</li>
    </ul>
{% endblock %}
